@import "tailwindcss";

html, body {
  scroll-behavior: smooth;
}

:root {
  --background: #0a0a0a;
  --foreground: #fafafa;
}

@theme inline {
  --color-background: #0a0a0a;
  --color-foreground: #fafafa;
  --font-sans: 'Poppins', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  @apply bg-background text-foreground font-sans;
}
